*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(48, 100, 100, 0.447);
}

nav{
    height: 100px;
    background-color: black;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    
}
